body {
    background-color: rgb(20, 6, 6);
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    
    color: rgb(136, 136, 136);
    text-align: center;
}
h4 {
    color: rgb(58, 126, 41);
    text-align: center;
}
h3 {
    color: rgb(58, 126, 41);
    text-align: center;
    width: 80%;
}
p {
   color:rgb(136, 136, 136);
   padding:10px;
}
.genre{
    text-align: right;
    color: rgb(58, 126, 41);
}
.dropdown {
    display: inline-block;
    position: relative;
}

#pageContent {
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 10px;
    width: 60%;
}

/* gradient div background */
.gradie {
    height: auto;
    background-color: rgb(41, 41, 41);
    /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(41, 41, 41));
}

#contentBox {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}

/* center div */
.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

/* Gradient text  */
.text-gran {
    background: -webkit-linear-gradient(rgb(136, 136, 136), rgb(107, 2, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Pulldown menu */
#pullDown {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}
/* Image Style */
.image{
    float:left;
    border-radius: 5px;
}
/*Rate image*/
.rate{
    float: right;
}
/* Links */
a {
    text-decoration:none;
}
/* Showtime */
.time {
    color: rgb(58, 126, 41);
    text-align: left;
}
/* Searchbox button */
#movie1{   
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}
/* buttons hover effect */
.buttons:hover {
    background-color: rgb(107, 2, 2);
    color: white;
}
/* get events button */
#Button {
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}
/* Searchbox style */
#moviesearch {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}
/* buttons hover effect */
.buttons {
    background-color: white;
    transition-duration: 0.4s;
}
/* Warning text when searchfield or list is empty */
.txtWarning{
    text-align: center;
    width:90%;
    color:red;
}
/* add time and genre to same line */
.timeDiv {
    display: flex;
    justify-content: space-between;
}
#schedules {
    color: rgb(29, 29, 29);
}
